<footer>
  <div class="container">
      <div class="q-links">
          <h1>Quick Links</h1>
          <hr>

          <div class="qq-links">

              <div class="l-a">
                  <ul>
                      <li><a class="hover-underline-animation" routerLink="/home">Home</a></li>
                      <li><a class="hover-underline-animation" routerLink="/home">About</a></li>
                      <li><a class="hover-underline-animation" routerLink="/contact">Contact</a></li>
                      <li><a class="hover-underline-animation" routerLink="/book">Booking</a></li>
                  </ul>
              </div>

              <div class="l-b">
                <ul>
                    <li><a  class="hover-underline-animation" routerLink="/explore">Explore</a></li>
                </ul>
              </div>

          </div>
      </div>

      <div class="c-us">
          <h1>Contact Us</h1>
          <hr>

          <div class="mobile">
              <div><i class="fa fa-phone" style="font-size:36px"></i></div>
              <div><p>1876-123-4567</p></div>
          </div>

          <div class="email">
              <div><i class="material-icons" style="font-size:36px">email</i></div>
              <div><p>support@islandtravel.co.in</p></div>
          </div>

      </div>

      <div class="f-us">
        <h1>Follow Us</h1>
        <hr>

        <div class="social">
            <div>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f" style="font-size:36px"></i></a>
            </div>
            <div>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" style="font-size:36px"></i></a>
            </div>
            <div>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" style="font-size:36px"></i></a>
            </div>
            <div>
              <a href="https://www.google.com/" target="_blank"><i class="fa fa-google-plus" style="font-size:36px"></i></a>
          </div>
        </div>

        <div class="time">
            <div class="clock">
                <img src="http://www.spencerplaza.co.in/assets/images/svg-icon/icon-clock.png">
            </div>
            <div class="hrs">
                <h4>Opening Hours</h4>
                <p>7am - 10pm</p>
            </div>
        </div>
      </div>
  </div>
        <div class="rights">
            <p>Copyright © 2022-Island Travel All rights reserved. Powered By<img src="http://www.spencerplaza.co.in/assets/images/icons/icon-og.png"></p>
        </div>
</footer>
