<div class="container">
    <div class="overlay"></div>

    <div class="text">
        <h1>Why Choose Us?</h1>
        <p>An authenthic Jamaican brand that you can trust and rely on</p>
      </div>

    <div class="reasons-container">

      <div class="layout" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100">
       <div class="reasons">
         <div class="icon">
          <div class="matIcon"><mat-icon style="font-size: 40px;"> credit_card</mat-icon></div>
         </div>
         <div class="header"><p>AFFORDABLE PRICE GUARANTEED</p></div>
         <div class="info">
           Our goal is to supply you <br>with the best possible prices,<br>free of tax and other hidden fees.
         </div>
       </div>
      </div>

      <div class="layout" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="100" >
        <div class="reasons">
          <div class="icon">
           <div class="matIcon"><mat-icon style="font-size: 40px;">public</mat-icon></div>
          </div>
          <div class="header"><p>WIDE VARIETY OF DESTINATIONS</p></div>
          <div class="info">
            Our tours extend to all regions<br> of Jamaica, bringing you to the best attractions that won't be found elsewhere.
          </div>
        </div>
       </div>

       <div class="layout" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="100">
        <div class="reasons">
          <div class="icon">
           <div class="matIcon">	<mat-icon style="font-size: 40px;">thumb_up_alt</mat-icon></div>
          </div>
          <div class="header"><p>HIGHLY QUALIFIED & REPUTABLE SERVICE</p></div>
          <div class="info">
            Our quality speaks volume. <br> We offer exceptional service,<br> to all customers, treating you as a priority.
          </div>
        </div>
       </div>

    </div>
</div>
