<section>
  <div class="container">

    <div class="details" data-aos="fade-up" data-aos-duration="2000"   data-aos-delay="100">
      <div class="icon">
        <mat-icon>widgets</mat-icon>
      </div>
      <div class="header">About us</div>
      <div class="about">
        <p>Island Travel is a comprehensive  guide to Jamaica's best travel destinations, with branches in five other caribbean territories.
        </p>
      </div>
    </div>

    <div class="details" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100" >
      <div class="icon">
        <mat-icon> zoom_out_map</mat-icon>
      </div>
      <div class="header">Mission</div>
      <div class="mission">
        <p> Our quest is to fulfill vacation dreams through our commitment to personalized and quality world-class service.</p>
      </div>
    </div>

    <div class="details" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="100" >
      <div class="icon">
        <mat-icon>grain</mat-icon>
      </div>
      <div class="header">Standards</div>
      <div class="standards">
        <p> We treat everyone with respect, dignity and fairness. We empower each person to develop their Confident Self to the fullest.</p>
      </div>
    </div>

    <div class="details" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="100">
      <div class="icon">
        <mat-icon> streetview</mat-icon>
      </div>
      <div class="header">Vision</div>
      <div class="vision">
        <p>To become the best and most trusted innovative travel management tour company within Jamaica and the caribbean.</p>
      </div>
    </div>
  </div>
</section>
