<div id="shape">
  <div class="pic"><img id="fpic" src="/assets/Images/YS-FALLS-New.jpg"></div>

  <div class="overlay"></div>
  <div class="info">
      <p>Heartbeat of the Caribbean</p>
      <h2>JAMAICA</h2>

      <div class="bookNow">
          <button><a routerLink="/explore">EXPLORE</a></button>
      </div>
  </div>
  <div class="navbar">
    <div id="logo"><img src="assets/Images/logoDesign (2).png"></div>
      <ul>
          <li><a routerLink="/home">HOME</a></li>
          <li><a routerLink="/contact">CONTACT US</a></li>
          <li><a class="pointer" (click)="openSignUp()">SIGN UP</a></li>
          <li><a class="pointer" (click)="openLogin()">LOGIN</a></li>
      </ul>
  </div>
</div>





